@import url(__item/cards__item.css);
@import url(__photo/cards__photo.css);
@import url(__info/cards__info.css);
@import url(__text/cards__text.css);
@import url(__like/cards__like.css);

.cards {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: calc(100% - 96px);
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 282px);
  gap: 20px 18px;
  margin-bottom: 66px;
}

@media (max-width: 979px) {
  .cards {
    width: calc(100% - 54px);
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  }
}

@media (max-width: 767px) {
  .cards {
    margin-bottom: 54px;
  }
}

@media (max-width: 479px) {
  .cards {
    width: calc(100% - 38px);
      margin-bottom: 48px;
  }
}
