.cards__photo {
  width: 100%;
  height: 282px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
  transition: opacity .4s ease;
}

.cards__photo:hover {
  cursor: pointer;
  opacity: .6;
}

@media (max-width: 979px) {
  .cards__photo {
    border-radius: 15px 15px 0px 0px;
  }
}

@media (max-width: 767px) {
  .cards__photo {
    border-radius: 20px 20px 0px 0px;
  }
}

@media (max-width: 340px) {
  .cards__photo {
    border-radius: 10px 10px 0px 0px;
  }
}
