.cards__like {
  width: 21px;
  height: 18px;
  background-color: #fff;
  position: relative;
  border: none;
  outline: none;
}

.cards__like::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../../images/like.svg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  box-sizing: border-box;
  transition: opacity .2s ease;
}

.cards__like:hover::after {
  cursor: pointer;
  opacity: .6;
}
